html,body{
    font-family:"Helvetica Neue","Segoe UI",Segoe,Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size:14px;
    margin:0;
    background:black;
    background:rgba(0,0,0,1);
    color:#ccc;
}
pre code{
    background: #272822;
    background: rgba(72,74,63,0.5);
    display: block;
    font-family: "Source Code Pro","Courier New","Helvetica Neue","monospace",HelveticaNeue,Helvetica,Arial,serif;
    overflow-x: auto;
    padding: 0.5em;
    *white-space: pre;
    *word-wrap: break-word;
}

/******* fonts *******/
.font1{
    font-family:"Proxima Nova","Helvetica Neue","Microsoft YaHei",Helvetica,Arial,sans-serif;
}

/******* dialog *******/
.dialog{
    position: fixed;
    z-index: 99;
    background: #2F0000;
    background: rgba(81,0,0,0.7);
    overflow: hidden;
}
.dialog > ._title{
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}
.dialog > ._title > ._text{
    float: left;
    padding-left: 15px;
    text-shadow: 0 1px 0 black;
}
.dialog > ._title > ._close{
    float: right;
    margin: 5px 5px 0 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}
.dialog > ._title > ._close.hover{
    color: red;
}
.dialog > ._title > ._close.press{
    color: #780000;
}
.dialog > ._body{
    clear: both;
    font-size: 12px;
    overflow: hidden;
    padding: 0 15px 0 15px;
}

/******* background *******/
.background{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    /*
    background: url("http://pic.3h3.com/up/2014-5/201455771555459514.jpg") no-repeat;
    background-size: 100% 100%;
    */
}

/******* header *******/
.header{
    position: relative;
    z-index: 1;
    height: 90px;
    border-bottom: 3px solid #681414;
}
.header > ._logo{
    float: left;
    width: 200px;
    height: 60px;
    margin: 10px 0 0 5px;
    background: url("images/logo.png") no-repeat;
}

/******* navigation *******/
.navigation{
    position: relative;
    z-index: 1;
    top:0;
    left:0;
    height: 76px;
    margin-top: 1px;
}
.navigation._clone{
    border-bottom: 3px solid #681414;
}
.navigation > ._items{
    margin: 0 auto;
    width: 1100px;
}
.navigation > ._items > ._item{
    font-style: oblique;
    float: left;
    width: 19.99%;
    padding: 13px 0 13px 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    transform:skewX(-15deg);
}
.navigation > ._items > ._item.hover{

}
.navigation > ._items > ._item > ._name{
    font-family: "Micorsoft Yahei",sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    color: #AB0000;
    transform:skewX(15deg);
    text-shadow: 0 0 9px red;
    animation: navText 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.navigation > ._items > ._item > ._text{
    color: #A8A8A8;
    transform:skewX(15deg)
}
.navigation > ._items > ._item.selected > ._name{
    color: #538DDD;
    text-shadow: 0 0 9px #538DDD;
    animation: none;
}

/******* body *******/
.body{
    position: relative;
    z-index: 1;
}
.body > ._client{
    margin: 0 auto;
    width: 1100px;
    overflow: hidden;
}
.body > ._client > ._main{
    float: right;
    width: 780px;
}

/******** sidebar *********/
.body > ._client > ._sidebar{
    float: left;
    width: 280px;
    margin-right: 40px;
}
.body > ._client > ._sidebar > ._item{
    font-size: 12px;
    display: block;
    padding: 15px 15px 15px 45px;
    margin-bottom: 2px;
    color: white;
    outline: none;
    text-decoration: none;
    border: 1px dotted transparent;
}
.body > ._client > ._sidebar > ._item > ._title{
    font-family: "ProximaNova-SemiBold",sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 16px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #ab0000;
    height: 20px;
}
.body > ._client > ._sidebar > ._item > ._text{
    color: #a8a8a8;
}
.body > ._client > ._sidebar > ._list{
    padding: 10px 0 10px 45px;
}
.body > ._client > ._sidebar > ._list > a{
    font-size: 13px;
    display: block;
    height: 25px;
    color: white;
    text-decoration: none;
    overflow:hidden;
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.body > ._client > ._sidebar > ._list > a:hover{
    text-decoration: underline;
}
.body > ._client > ._sidebar > ._item.hover{
    border-color: #500000;
}
.body > ._client > ._sidebar > ._item.press,
.body > ._client > ._sidebar > ._item.selected{
    border-color: #500000;
    background: #1F0000;
    background: rgba(70,0,0,0.4);
}
.body > ._client > ._sidebar > ._item.selected > ._title{
    color: white;
}

/******* footer *******/
.footer{
    clear: both;
    position: relative;
    z-index: 1;
    padding: 40px;
    margin-top: 20px;
    border-top: 3px solid #681414;
}
.footer > ._main{
    margin: 0 auto;
    width: 1100px;
}
.footer > ._main > ._information{
    color: #D4D4D4;
    text-align: center;
    text-shadow: 0 0 8px #B60000;
}
.footer > ._main > ._information a{
    color: #D4D4D4;
}


/*********** screen resolution ***********/
@media all and (min-width: 700px) and (max-width: 1200px){
    .navigation > ._items{
        width: 85%;
    }
    .body > ._client{
        width: 85%;
    }
    .footer > ._main{
        width: 85%;
    }
}
@media all and (min-width: 300px) and (max-width: 700px){
    .navigation > ._items{
        width: 95%;
    }
    .body > ._client{
        width: 95%;
    }
    .footer > ._main{
        width: 95%;
    }
}
@media all and (max-width: 900px){
    .navigation > ._items{
        overflow: hidden;
    }
    .navigation > ._items > ._item > ._name{
        font-size: 16px;
        height: 50px;
        line-height: 50px;
        transform:skewX(0deg);
    }
    .navigation > ._items > ._item > ._text{
        display: none;
    }
    .navigation > ._items > ._item{
        transform:skewX(0deg);
    }
}

/******* keyframes *******/
@keyframes navText {
    0%{
        text-shadow: 0 0 7px rgba(255,0,0,0.7);
    }
    100%{
        text-shadow: 0 0 9px rgba(255,0,0,1);
    }
}